[#partials/head.html]
    <div class="container-fluid landing" id="landing1">
        <div id="autor-foto">Photo by <a href="https://unsplash.com/@hisarahlee">Sarah Lee</a> on <a href="https://unsplash.com/photos/QURU8IY-RaI">Unsplash</a></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron align-middle">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center"><img class="img-fluid" src="/img/logo.png"/></div>
                        </div>
                        <div class="col-md-8">
                            <h1 class="display-6">[@title]</h1>
                            <p class="lead">[@subtitle]</p>
                            <hr class="my-4">
                            <p>[@content]</p>
                            <a href="/login" type="button" class="btn btn-outline-secondary">Panel de control</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
[#partials/footer.html]