[#partials/admin-head.html]
[#partials/admin-navbar.html]
        <div id="wrapper">
            <!-- Sidebar -->
            [#/partials/admin-sidebar.html]
            
            <!-- Content -->
            <div id="content">
                <?php getMessage(); ?>
                <div class="card">
                    <div class="card-header"> 
                        <i class='bx bx-table' ></i>
                        Tarea
                        <span class="float-right">
                            <a class="btn" href="/admin/tasks/create">
                                Añadir tarea
                            </a>
                        </span>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th class="actions">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            [@listaTasks]
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="modalBorrarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Borrar tarea</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Deseas borrar esta tarea con id <span class="modal-form-id"></span>?  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <form method="POST" action="" >
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <!-- Javascripts -->
[#partials/admin-footer.html]